@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: "Kode Mono", monospace;
    overflow: hidden;
}

.spacer {
    height: 10vh;
}

.table-container {
    width: 100%;
    height: 75vh; /* Höhe für 4 Zeilen sichtbar */
    
    overflow: hidden;
}

.wide {
    width: 100%;
}

tbody {
    width: 100%;
}

.stationtable {
    width: 100%;
    border-collapse: collapse;
    font-size: 3vh;
}

.headertable {
    width: 100%;
    border-collapse: collapse;
    font-size: 3vh;
}

.stationname {
    font-size: 5vh;
    padding-left: 2vw;
}

.legendStation {
    padding-left: 2vw;
}

#stations {
    display: block;
    height: 100%; /* Füllt den Container vollständig aus */
    overflow-y: auto;
    transition: transform 1s ease;
    transform: translateY(0); /* Starten am oberen Rand */
}

.stationelement:nth-child(odd) {
    background-color: #f0f0f0;
}

.stationelement:nth-child(even) {
    background-color: #e0e0e0;
}

.stationcell {
    height: 15vh;

}



.lineheader {
    height: 5vh;
}

.stationheader {
    height: 25vh;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 20;
    background-color: #fff;
}

.bottombar {
    width: 100%;
    height: 15vh;
    background: rgb(2,0,36);
    background: #000;
    display: flex;
    justify-content: left center;
    color: #fff;
    font-size: 4vh;
    padding-left: 17px;
   
}

.linesignet {
    min-width: 180px;
    padding: 10px;
    background-color: red;
    text-align: center;
    word-wrap: no-wrap;
    margin-right: 20px;
}

#nextstation {
    font-size:9vh;
    padding-left: 1vw;
}

#infobox {
    position: fixed;
    top: 30vh;
    z-index: 300;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.thread {
    background-image: url('../assets/icons/threadpoint.svg');
    background-position: center;
    background-size: 3.5vw;
    min-width: 4vw;
}

tbody.stationthread tr:last-child td:nth-child(2) {
    background-image: url('../assets/icons/threadend.svg');
}

.threadstart {
    background-image: url('../assets/icons/threadstart.svg');
    background-position: center;
    background-size: 3.5vw;
    min-width: 4vw;
}

.nextArrow {
    background-image: url('../assets/icons/nextArrow.svg');
    background-position: bottom;
    background-size: 3.5vw;
    min-width: 4vw;
}

#clock{
    font-size: 7vh;
    color: #fff;
    position: fixed;
    bottom: 3vh;
    right: 3vh;
}

.high {
    height: 100%;
}

td {
    padding: 10px;
}

.legend {
    td {
        padding-top: 30px;
    }
    color: #4a4a4a;
}

.stationblob {
    background-color: #4a4a4a;
    position: fixed;
    z-index: 100;
    top: 3vh;
    right: 3vh;
    padding: 20px;
    color: #fff;
    font-size: 3vh;
    text-align: center;
    border-radius: 100px;
    height: 19vh;
    width: 19vh;
    padding-top: 25px;
    overflow: hidden;

}

#tracknumber {
    font-size: 7vh;
}