@media (prefers-color-scheme: dark) {
	body {
		background-color: #0f0f0f;
		color: #efefef;
	}

	td a {
		color: #efefef;
	}

	.header, tr:nth-child(even) {
		background-color: #222;
	}

	.megaicon {
		filter: invert(1);
	}
	
	.noinvert {
		filter: invert(0);
	}

	.tripcontainer {
		color: #efefef;
	}

	.traintimetable {
		color: #797979;
	}

	.traintimetable b {
		color: #efefef;
	}

	.black {
		color: #efefef;
	}

	.coach {
		background-color: #1d1d1d;
		color: #efefef;
		box-shadow: inset 0px -10px #212121;
	}

	.platform-sector {
		background-color: #333;
		border: 1px solid #555;
		color: #fff;
	}

	.weatherwarning {
		background-color: #000;
		border: solid 1px #202020;
		box-shadow: inset 0px -20px 60px #300505;
		color: #fff;
	}

	.marked-stopover {
		background-color: #212614;
	}

	.trip-stop-name {
		color: #fff!important;
	}

	.trip-stop-time {
		color: #fff;
	}

	.trip-warnings {
		background-color: #222;
		color: #fff;
	}

	.trip-warning-item {
		border-bottom: solid #323232 1px;
	}

	.trip-warning-header, .yellowbutton {
		background-color: #c9cb3b;
	}

	.pill, .trip-warning-counter {
		color: #000;
		background-color: #c9cb3b;
	}

	.clear {
		background-color: none;
	}

	.gray {
		background-color: #222222;
	}


	.coloredSpace {
		background-color: #222222;
		color: #fff;
	}


	.multicolorspinner {
		filter: invert(1);
	}

	.cubesector {
		background-color: #222222!important;
	}

	.sectoricon {
		background-color: #00004d!important;
	}

	.connectionbadge {
		background-color: #101010;
		color: #fff;
	}

	.tinyinput {
		background-color: #0f0f0f;
		color: #fff;
	}

	.darkinput {
		background-color: #000;
	}

	.TRIPcontent {
		background-color: #000;
	}

	.actiontableelement {
		color: #fff;
	}

	

	
}
