/* This stylesheet is responsible to style the different line signets.
Please read comments carefully.
*/

/* The following classes create standard signets for different types of public transport. You may not change them */
.suburban {
	background-color: #639830;
}

.Bus {  /*THIS IS NEEDED because rail replacement busses exist :) */
	background-color: #8c097a!important;
}

.nationalExpress, .national {
	background-color: #ec0016;
	color: #fff;
}

.regional {
	background-color: #00a099;
	color: #fff;
}

.suburban {
	border-radius: 200px;
	max-width: 100px;
}

.EN, .NJ, .ICN {
	background-image: url('../stars.jpg');
	background-size: 200px;
	color: #fff ;
}

.FLX {
	background-color: #a2e53f;
	color: #fff ;
}

.IRE {
	background-color: #1455c0;
	color: #fff;
}

.MEX {
	background-color: #fdcc00;
	color: #3a4044;
}


/*
The following classes create  individual signets for suburban train lines.
To do this, every signet gets an (almost) individual class by putting trip.id + operator.Name together.
Then we can manually style thos signets here. 

Individual design on Signets is limited to color to keep a consistent look. Please do not style Shape, Size, Font etc...
*/


/* S-Bahn Berlin */
.S1s-bahn-berlin {
	background-color: #da6ba2;
	color: #fff;
}

.S2s-bahn-berlin {
	background-color: #007734;
	color: #fff;
}

.S25s-bahn-berlin {
	background-color: #007734;
	color: #fff;
}

.S26s-bahn-berlin {
	background-color: #007734;
	color: #fff;
}

.S3s-bahn-berlin {
	background-color: #0066ad;
	color: #fff;
}

.S41s-bahn-berlin {
	background-color: #ad5937;
	color: #fff;
	
}

.S41s-bahn-berlin::after {
	content: "\21BB";
}

.S42s-bahn-berlin {
	background-color: #cb6418;
	color: #fff;
}

.S42s-bahn-berlin::after {
	content: "\21BA"; /*Why does it also work without "content:"?*/
}

.S45s-bahn-berlin {
	background-color: #cd9c53;
	color: #fff;
}

.S46s-bahn-berlin {
	background-color: #cd9c53;
	color: #fff;
}

.S47s-bahn-berlin {
	background-color: #cd9c53;
	color: #fff;
}

.S5s-bahn-berlin {
	background-color: #ec7405;
	color: #fff;
}

.S7s-bahn-berlin {
	background-color: #816da6;
	color: #fff;
}

.S75s-bahn-berlin {
	background-color: #816da6;
	color: #fff;
}

.S8s-bahn-berlin {
	background-color: #66aa22;
	color: #fff;
}

.S85s-bahn-berlin {
	background-color: #66aa22;
	color: #fff;
}

.S9s-bahn-berlin {
	background-color: #992746;
	color: #fff;
}


/* S-Bahn Mitteldeutschland (+Dresden) */
.S1db-regio-ag-sudost {
	background-color: #f6df00;
	color: #000;
}

.S2db-regio-ag-sudost {
	background-color: #00a1e5;
	color: #fff;
}

.S3db-regio-ag-sudost {
	background-color: #e30613;
	color: #fff;
}

.S4db-regio-ag-sudost {
	background-color: #009641;
	color: #fff;
}

.S5db-regio-ag-sudost {
	background-color: #ef7d00;
	color: #fff;
}

.S5Xdb-regio-ag-sudost {
	background-color: #fecf53;
	color: #000;
}

.S6db-regio-ag-sudost {
	background-color: #5d1339;
	color: #fff;
}

.S7abellio-rail-mitteldeutschland-gmbh {
	background-color: #00569d;
	color: #fff;
}

.S8db-regio-ag-sudost {
	background-color: #5c2483;
	color: #fff;
}

.S9db-regio-ag-sudost {
	background-color: #c0046b;
	color: #fff;
}

.S47db-regio-ag-sudost {
	background-color: #50af47;
	color: #fff;
}

/* CityBahn Chemnitz (similar to S-Bahn) */
/* Adaptation to the S-Bahn style */
.CBC11city-bahn-chemnitz, .CBC13city-bahn-chemnitz, 
.CBC14city-bahn-chemnitz, .CBC15city-bahn-chemnitz {
	border-radius: 200px;
	max-width: 100px;
}

.CBC11city-bahn-chemnitz {
	background-color: #007946; /*VMS Green*/
	color: #fff;
}

.CBC13city-bahn-chemnitz {
	background-color: #CF2538; /*Chemnitz-Bahn-Logo Red*/
	color: #fff;
}

.CBC14city-bahn-chemnitz {
	background-color: #00a1e5;
	color: #fff;
}

.CBC15city-bahn-chemnitz {
	background-color: #f6df00;
	color: #fff;
}

/* S-Bahn Rhein-Main */
.S1db-regio-ag-s-bahn-rhein-main {
	background-color: #0094d7;
	color: #fff;
}

.S2db-regio-ag-s-bahn-rhein-main {
	background-color: #ec161f;
	color: #fff;
}

.S3db-regio-ag-s-bahn-rhein-main {
	background-color: #00a995;
	color: #fff;
}

.S4db-regio-ag-s-bahn-rhein-main {
	background-color: #fdca00;
	color: #000;
}

.S5db-regio-ag-s-bahn-rhein-main {
	background-color: #8e5630;
	color: #fff;
}

.S6db-regio-ag-s-bahn-rhein-main {
	background-color: #e97319;
	color: #fff;
}

.S7db-regio-ag-s-bahn-rhein-main {
	background-color: #1b533d;
	color: #fff;
}

.S8db-regio-ag-s-bahn-rhein-main {
	background-color: #8cc53c;
	color: #fff;
}

.S9db-regio-ag-s-bahn-rhein-main {
	background-color: #8c208a;
	color: #fff;
}

/* S-Bahn München */
.S1db-regio-ag-s-bahn-munchen {
	background-color: #11bae7;
	color: #fff;
}

.S2db-regio-ag-s-bahn-munchen {
	background-color: #75b72a;
	color: #fff;
}

.S3db-regio-ag-s-bahn-munchen {
	background-color: #951981;
	color: #fff;
}

.S4db-regio-ag-s-bahn-munchen {
	background-color: #e3011b;
	color: #fff;
}

.S6db-regio-ag-s-bahn-munchen {
	background-color: #008c58;
	color: #fff;
}

.S7db-regio-ag-s-bahn-munchen {
	background-color: #882d22;
	color: #fff;
}

.S8db-regio-ag-s-bahn-munchen {
	background-color: #000;
	color: #f0a900;
}

.S20db-regio-ag-s-bahn-munchen {
	background-color: #ea516c;
	color: #fff;
}

/* S-Bahn Hamburg */
.S1s-bahn-hamburg {
	background-color: #1b962b;
	color: #fff;
}

.S2s-bahn-hamburg {
	background-color: #b41043;
	color: #fff;
}

.S3s-bahn-hamburg {
	background-color: #622081;
	color: #fff;
}

.S5s-bahn-hamburg {
	background-color: #0189bb;
	color: #fff;
}

/* S-Bahn Stuttgart */
.S1db-regio-ag-s-bahn-stuttgart {
	background-color: #59af41;
	color: #fff;
}

.S2db-regio-ag-s-bahn-stuttgart {
	background-color: #ee1c28;
	color: #fff;
}

.S3db-regio-ag-s-bahn-stuttgart {
	background-color: #f36e31;
	color: #fff;
}

.S4db-regio-ag-s-bahn-stuttgart {
	background-color: #0166b3;
	color: #fff;
}

.S5db-regio-ag-s-bahn-stuttgart {
	background-color: #00acdd;
	color: #fff;
}

.S6db-regio-ag-s-bahn-stuttgart {
	background-color: #844c00;
	color: #fff;
}

.S60db-regio-ag-s-bahn-stuttgart {
	background-color: #8a8d06;
	color: #fff;
}

/* S-Bahn Rostock */
.S1db-regio-ag-nordost {
	background-color: #00a895;
	color: #fff;
}

.S2db-regio-ag-nordost {
	background-color: #a3248d;
	color: #fff;
}

.S3db-regio-ag-nordost {
	background-color: #a66540;
	color: #fff;
}

.S2Xdb-regio-ag-nordost {
	background-color: #db63a1;
	color: #fff;
}

/* S-Bahn Rhein-Ruhr */
.S1db-regio-ag-nrw {
	background-color: #0cb14b;
	color: #fff;
}

.S2db-regio-ag-nrw {
	background-color: #0074bc;
	color: #fff;
}

.S3db-regio-ag-nrw {
	background-color: #fff200;
	color: #000;
}

.S4db-regio-ag-nrw {
	background-color: #f5821f;
	color: #fff;
}

.S5db-regio-ag-nrw {
	background-color: #80c342;
	color: #fff;
}

.S6db-regio-ag-nrw {
	background-color: #e21d3c;
	color: #fff;
}

.RRBS7rheinruhrbahn-transdev {
	background-color: #00afb5;
	color: #fff;
}


.S8db-regio-ag-nrw {
	background-color: #b23815;
	color: #fff;
}

.S9db-regio-ag-nrw {
	background-color: #c6168d;
	color: #fff;
}

.S28regiobahn {
	background-color: #4a0b4d;
	color: #fff;
}

.S68db-regio-ag-nrw {
	background-color: #00bfe8;
	color: #fff;
}

/* S-Tog Kobenhavn */
.SAdsb-s-tog {
	background-color: #15a3db;
	color: #fff;
	
}

.SBdsb-s-tog {
	background-color: #4baa47;
	color: #fff;
}

.SCdsb-s-tog {
	background-color: #f48520;
	color: #fff;
}

.SEdsb-s-tog {
	background-color: #6561a5;
	color: #fff;
}

.SFdsb-s-tog {
	background-color: #fec125;
	color: #fff;
}

.SHdsb-s-tog {
	background-color: #e23e33;
	color: #fff;
}

/* S-Bahnen Österreich */
.S1osterreichische-bundesbahnen {
	background-color: #139cd8;
	color: #fff;
}

.S2osterreichische-bundesbahnen {
	background-color: #139cd8;
	color: #fff;
}

.S3osterreichische-bundesbahnen {
	background-color: #139cd8;
	color: #fff;
}

.S4osterreichische-bundesbahnen {
	background-color: #139cd8;
	color: #fff;
}

.S7osterreichische-bundesbahnen {
	background-color: #139cd8;
	color: #fff;
}

.S40osterreichische-bundesbahnen {
	background-color: #139cd8;
	color: #fff;
}

.S45osterreichische-bundesbahnen {
	background-color: #bcda77;
	color: #000;
}

.S50osterreichische-bundesbahnen {
	background-color: #139cd8;
	color: #fff;
}

.S60osterreichische-bundesbahnen {
	background-color: #139cd8;
	color: #fff;
}

.S80osterreichische-bundesbahnen {
	background-color: #139cd8;
	color: #fff;
}

/* S-Bahn Zürich */
.S2schweizerische-bundesbahnen {
	background-color: #82bb22;
	color: #fff;
}

.S3schweizerische-bundesbahnen {
	background-color: #0090d4;
	color: #fff;
}

.S4sihltal-zurich-uetliberg-bahn {
	background-color: #f08161;
	color: #fff;
}

.S5schweizerische-bundesbahnen {
	background-color: #57b4ce;
	color: #fff;
}

.S6schweizerische-bundesbahnen {
	background-color: #7a4796;
	color: #fff;
}

.S7schweizerische-bundesbahnen {
	background-color: #fcbf00;
	color: #000;
}

.S8schweizerische-bundesbahnen {
	background-color: #5d2082;
	color: #fff;
}

.S9schweizerische-bundesbahnen {
	background-color: #00a13f;
	color: #fff;
}

.S10sihltal-zurich-uetliberg-bahn {
	background-color: #fecb42;
	color: #000;
}

.S11schweizerische-bundesbahnen {
	background-color: #b8a2ce;
	color: #fff;
}

.S12schweizerische-bundesbahnen {
	background-color: #e3000b;
	color: #fff;
}

.S13schweizerische-bundesbahnen {
	background-color: #996a2f;
	color: #fff;
}

.S14schweizerische-bundesbahnen {
	background-color: #7e4c00;
	color: #fff;
}

.S15schweizerische-bundesbahnen {
	background-color: #ceb08d;
	color: #fff;
}

.S16schweizerische-bundesbahnen {
	background-color: #74bc75;
	color: #fff;
}

.S17bdwm-transport {
	background-color: #009ebf;
	color: #fff;
}

.S18forchbahn {
	background-color: #ea4d33;
	color: #fff;
}

.S19schweizerische-bundesbahnen {
	background-color: #ef7c00;
	color: #fff;
}

.S20schweizerische-bundesbahnen {
	background-color: #c44f97;
	color: #fff;
}

.S21schweizerische-bundesbahnen {
	background-color: #a2cbee;
	color: #fff;
}

.S23schweizerische-bundesbahnen {
	background-color: #a0c753;
	color: #fff;
}

.S24schweizerische-bundesbahnen {
	background-color: #b48c5c;
	color: #fff;
}

.S25schweizerische-bundesbahnen {
	background-color: #b7037f;
	color: #fff;
}

.S26thurbo {
	background-color: #0088ad;
	color: #fff;
}

.S27schweizerische-sudostbahn-sob {
	background-color: #93ae31;
	color: #fff;
}

.S29thurbo {
	background-color: #29aa50;
	color: #fff;
}

.S30thurbo {
	background-color: #0085cd;
	color: #fff;
}

.S33schweizerische-bundesbahnen {
	background-color: #37a7df;
	color: #fff;
}

.S35thurbo {
	background-color: #86bfe9;
	color: #fff;
}

.S36thurbo {
	background-color: #d181b5;
	color: #fff;
}

.S40schweizerische-sudostbahn-sob {
	background-color: #b8a1ce;
	color: #fff;
}

.S41thurbo {
	background-color: #f6af94;
	color: #fff;
}

.S42schweizerische-bundesbahnen {
	background-color: #9a6b31;
	color: #fff;
}


/* S-Bahn Basel */
.S1schweizerische-bundesbahnen {
	background-color: #45b248;
	color: #fff;
}


.SBBS6sbb-gmbh {
	background-color: #f93f25;
	color: #fff;
}

/* S-Bahn Helinki */
.SIvr::after {
	content: "\21BB";
}

.SPvr::after {
	content: "\21BA";
}