.specialVehicleBadge {
    border: solid 1.5px #fff;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
    line-height: 40px;
}

.fzg-938054060018:before, .fzg-938054061016:before, .fzg-938054062014:before, .fzg-938054063012:before, .fzg-938054068011:before, .fzg-938054067013:before, .fzg-938054066015:before, .fzg-938054065017:before {
    content: "•⭐Europa/Europe";
}

.fzg-938058120578:before, .fzg-938024128572:before, .fzg-938024125578:before, .fzg-938024127574:before, .fzg-938048120571:before, .fzg-938024123573:before, .fzg-938024120579:before, .fzg-938098120570:before, .fzg-938064120570:before, .fzg-938088120572:before, .fzg-938014120571:before, .fzg-938018120577:before, .fzg-938008120579:before {
    content: "•🇩🇪Bundesrepublik Deutschland";
}