/* DONT ASK WHATS THAT FOR A HURTING CRAP!
 it's just what happens when I try to do CSS :(
 
 If you really nead to now what all those classes do, feel free to ask me,
 otherwise just add another class, nobody cares hahahahahaha
 */

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap');

:root {
	--switch-color: #5F5F5F;
	--switch-bg-color: #f0f0f0;
	--disabled-color: #797979;
	--cellpadding: 15px;
}

body {
	font-family: "Kode Mono", monospace;
	font-size: 20px;
	margin: 0px;
	overflow-x: clip;
}

.notouch {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
}

span {
	text-align: left;	
}

.disabled {
	color: var(--disabled-color);
}

.hidden {
	display: none;
}	

.wrap {
	white-space: normal;	
}

.additional {
	color: #6b6b6a;
	font-weight: normal;
	font-size: 0.8em;
}

.prefix {
	color: #6b6b6a;
	float: left;
	font-weight: normal;
	font-size: 0.8em;
	line-height: 1.9em;
	padding-left: var(--cellpadding);
	padding-top: var(--cellpadding);
}

.big {
	font-weight: bold;
	font-size: 35px;
}

span#clock {
	padding: 10px;
}

.departtime {
		font-size: 70px;
	}

#navbar {
	background-color: #000;
	color: #fff;
	height: 16px;
	padding: 25px 16px 25px 16px;
	font-size: 16px;
}
.home #navbar {
	background-color: #000;
}

.navsearch:before {
	background-image: url("../icons/search.svg");
	background-size: cover;
	content: "";
	display: inline-block;
	width: 20px;
	aspect-ratio: 1;
	margin-right: 10px;
    vertical-align: bottom;
}

.isle {
	position: fixed;
	bottom: 0px;
	right: 0px;
	background-color: #fff;	
	color: #000;
	font-size: 15px;
	border-radius: 3px;
	padding: 5px;
	margin: 10px;
}

.zerotable {
	padding: 0px;
	vertical-align: middle;
}

.aligner {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.tabs {
	float: left;
}

.iconbar {
	float: right;
}

a {
	color: #fff;
	text-decoration: none;
	margin: 10px 2px 10px 2px;
	white-space: nowrap;
}
	
.active {
	text-decoration: underline 3px;
	text-underline-offset: 23px;
	font-weight: bold;
}

.remark {
	display: block;
	font-size: 17px;
    margin: calc(0px - (var(--cellpadding) / 2)) var(--cellpadding) var(--cellpadding);
}

.home {
	background-image: url('../station.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: cover;
	background-color: #000;
	background-position: right;
	text-align: center;
	color: #fff;
}

.searchcontainer {
	width: 85%;
	max-width: 700px;
	background-color: #fff;
	color: #000;
	border-radius: 5px;
	overflow-y: hidden;
}

.tripcontainer, .blanktext {
	width: 80%;
	border-radius: 5px;
	overflow-y: hidden;
	text-align: left;
}

.searchbar {
	font-size: 20px;
	border: none;
	font-family: "Kode Mono", monospace;
	height: 40px;
	background-image: url('.././icons/search.svg');
	background-size: 25px;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 40px;
	margin: 17px;
	width: 100%;
}

.searchbar:focus {
	outline: none;
}

.switch-container {
    display: flex;
	border-radius: 10px;
	margin: 17px;
}

input[type="radio"] {
    display: none;
}

.coacheswrapper {
	width: 100%;
	overflow-x: scroll;
	height: 250px;
	margin-top: 20px;
	padding-left: 10%;
}

::-webkit-scrollbar {
    display: none;
}

.coachescontent {
	display: flex;
	align-items: center;
	min-width: 200%;
	height: 110px;
	padding: 10px;
	padding-left: 20px;
	padding-top: 24px;
	position: relative;
	@media (prefers-reduced-motion: no-preference) {
		animation-name: drivein;
		animation-delay: 200ms;
		animation-duration: 3s;
		animation-timing-function: ease-out;
	}
}

.sector {
	top: -55px;
    position: absolute;
    width: 100%;
}


/* Germany ICE Costum Strip */
.fzg938058120578, .fzg938024128572, .fzg938024125578, .fzg938024127574, .fzg938048120571, .fzg938024123573, .fzg938024120579, .fzg938098120570, .fzg938064120570, .fzg938088120572, .fzg938014120571, .fzg938018120577, .fzg938008120579 {
	box-shadow: none !important;
	background-image: url(.././strips/germany.svg) !important;
	background-size: 12.5px !important;
	background-position: bottom !important;
	background-repeat: repeat-x !important;
}

/* Europe ICE Costum Strip */
.fzg938054065017, .fzg938054066015, .fzg938054067013, .fzg938054068011, .fzg938054063012, .fzg938054062014, .fzg938054061016, .fzg938054060018 {
	box-shadow: none !important;
	background-image: url(.././strips/europe.svg) !important;
	background-size: 12.5px !important;
	background-position: bottom !important;
	background-repeat: repeat-x !important;
}

/* Pride ICE Costum Strip */
.fzg938054035044, .fzg938054036042, .fzg938054037040, .fzg938054038048, .fzg938054033049, .fzg938054032041, .fzg938054031100, .fzg938054030268 {
	box-shadow: none !important;
	background-image: url(.././strips/pride.svg) !important;
	background-size: 12.5px !important;
	background-position: bottom !important;
	background-repeat: repeat-x !important;
}

/* @keyframes drivein {
	0% {
		margin-left: 100%;
	}
	
	40% {
		margin-left: 100%;
	}
	
	100% {
		margin-left: 0px;
	}
} */
@keyframes drivein {
	0% {
		left: 100%;
		opacity: 0;
	}
	100% {
		left: 0px;
		opacity: 1;
	}
}

.coach {
	border: solid #414141;
	border-width: 5px 3px 5px 3px;
	min-width: 140px;
	max-width: 140px;
	height: 55px;
	margin-left: -5px;
	padding-top: 7px;
	background-color: #fff;
	text-align: center;
	font-size: 35px;
	color: #414141;
	font-weight: bold;
	box-shadow: inset 0px -10px #cecece;
	position: relative;
}

.coach.steuerHead {
	border-radius: 80px 0px 0px 10px;
	border-width: 5px 3px 5px 5px;
	margin-left: 1px;
	background-image: url('.././icons/trainwindow.svg');
	background-size: 30px;
	background-position: left center;
	background-repeat: no-repeat;
}

.coach.head {
	border-radius: 10px 0px 0px 10px;
	border-width: 5px 3px 5px 5px;
	margin-left: 1px;
	background-size: 30px;
	background-position: left center;
	background-repeat: no-repeat;
}

.coach.single {
	border-radius: 80px 80px 10px 10px;
	border-width: 5px 3px 5px 3px;
	margin-left: 1px;
	background-image: url('.././icons/trainwindow.svg');
	background-size: 30px;
	background-position: left center;
	background-repeat: no-repeat;
}

.coach.lok {
	border-radius: 30px 30px 10px 10px;
	border-width: 5px 3px 5px 3px;
	margin-left: 1px;
	margin-right: 1px;
	background-image: url(.././icons/trainwindow.svg);
	background-size: 30px;
	background-position: left center;
	background-repeat: no-repeat;
}

.coach.back {
	border-radius: 0px 10px 10px 0px;
	border-width: 5px 5px 5px 3px;
	margin-right: 1px;
	background-size: 30px;
	background-position: left center;
	background-repeat: no-repeat;
}

.coach.steuerBack /*:not(.steuerHead)*/ {
	border-radius: 0px 80px 10px 0px;
	border-width: 5px 5px 5px 3px;	
	margin-right: 1px;
	/*
	background-image: url('.././icons/trainwindow-mirror.svg');
	background-size: 30px;
	background-position: right center;
	background-repeat: no-repeat;*/
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.blink {
	animation: blink 1s step-start 0s infinite;
}

.cancelled a {
	text-decoration: line-through;
}

label {
	width: 100%;
    padding: 10px;
    margin: 0;
    cursor: pointer;
	font-family: Arial;
	font-size: 17px;
}

.switchlabel {
	background-color: var(--switch-bg-color);
	border: solid 1px var(--switch-color);
	color: var(--switch-color);
}

.leftalign {
	text-align: left;
}

input.checkbox {
	transform: scale(1.5);
	margin: 20px;
}

.left {
	border-radius: 10px 0px 0px 10px;
}

.right {
	border-radius: 0px 10px 10px 0px;
	overflow: hidden;
	max-width: 100%;
}

#departure:checked + label {
	background-color: #131313;
	color: #fff;
}

#arrival:checked + label {
	background-color: #131313;
	color: #fff;
}

#suburban:checked + label {
	background-color: #131313;
	color: #fff;
}

.container {
display: flex;
	flex-wrap: wrap;
}

.left-div {
	flex: 1;
	min-width: 200px;
}

.right-div {
	flex: 1;
	order: -1; /* Ändert die Reihenfolge, um nach oben zu gehen */
}

.lineview {
	max-width: 250px;
}

table {
	border: none;
	border-spacing: 0px;
	width: 100%;
}

tr {
	font-weight: bold;
}

th {
	font-weight: normal;
	padding: var(--cellpadding);
	text-align: left;
}

td {
	vertical-align: top;
	a {
		color: #000;
		display: block;
		margin: 0;
		padding: var(--cellpadding);
	}
}

.wide {
	width: 100%;
}

.header, tr:nth-child(even) {
	background-color: #D9D9D9;
}

.header {
	font-size: 15px;
}

.mini {
	height: 35px;
	padding-right: 15px;
}

.suggestion {
	display: flex;
	justify-content: space-between;
	padding: 17px; /* Optional padding for spacing */
	cursor: pointer;
}

.topline {
	vertical-align: middle;
	padding: 0px;
}

.clockbox {
	text-align: right;
	
}

.black {
	color: #000;
}

.red {
	color: #ec0016;
}

.green {
	color: #2f9d12;
}

.underlined {
	text-decoration: underline;
}

.suggestion:hover {
	background-color: #e4e4e4;
}

.bigicon {
	height: 30px; 
	padding-left: 5px;
}

.megaicon {
	height: 60px;
	padding: 10px;
}

.mediumicon {
	height: 20px; 
	margin-right: 5px;
}

.avatar {
	height: 25px;
	border-radius: 100px;
}

.linebadge {
	width: 150px;
	background-color: #041E42;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.biglinebadge {
	width: 200px;
	background-color: #041E42;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}

.smallonly {
	display: none;
}

@media (max-width: 700px) {
	:root {
		--cellpadding: 10px;
	}

	.stacktobottom {
		order: 1; /* Zurücksetzen der Reihenfolge auf den Standardwert */
	}
	
	.left-div, .right-div {
		min-width: 100%; /* Wenn der Platz nicht ausreicht, beide auf 100% setzen */
	}
			
	.searchbar {
		margin-top: 13px;
		width: -webkit-fill-available;
	}

	.navsearch {
		font-size: 0;
	}

	h2 {
		display: none;
	}

	th {
		/* padding: 10px;*/
	}
			
	td {
		font-size: 15px;
		a {
			/* padding: 10px;*/
		}
	}
	
	.mini {
		height: 25px;
	}
	
	.biglinebadge {
		width: 150px;
		font-size: 17px;
	}
			
	.linebadge {
		text-wrap: pretty;
		width: 80px;
	}
	
	.bigonly {
		display: none;
	}
	
	.smallonly {
		display: inline;
	}
	
	.mobilebreak {
		white-space: normal!important;
	}
	
	table tr td:nth-child(3) {
		overflow: hidden;
		max-width: 90px;
	}
	
	.megaicon {
		height: 50px;
	}
	
	.big {
		font-size: 27px;
	}
	
	.departtime {
		font-size: 50px;
	}
}

@media (max-width: 400px) {
		
	.linebadge {
		width: 60px!important;
		word-wrap: break-word;
	}
	
	.megaicon {
		height: 40px;
	}
	
	.big {
		font-size: 23px;
	}
	
	.departtime {
		font-size: 46px;
	}
	
	th,
	td a {
		padding: 10px 1px 25px 2px;
	}
}

@media (min-width: 1300px) {
	:root {
		--cellpadding: 20px;
	}

	th {
		font-size: 1.2em;
		/* padding: 20px; */
	}

	td {
		font-size: 1.2em;
		a {
			/* padding: 20px; */
		}
	}
	
	.topline {
		padding: 15px;
	}
	
	.megaicon {
		height: 75px;
	}
	
	.big {
		font-size: 45px;
	}
	
	.departtime {
		font-size: 90px;
	}
	
	.lineview {
		max-width: 300px;
	}
	
	.mini {
		height: 45px;	
	}
}

.tooltip {
	position: relative;
	display: inline-block;
	/*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
}
  
.tooltip .tooltiptext {
	visibility: hidden;
	width: 150px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	font-size: 18px;
	
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -60px;
}
  
.tooltip:hover .tooltiptext {
	visibility: visible;
}