/* DONT ASK WHATS THAT FOR A HURTING CRAP!
 it's just what happens when I try to do CSS :(
 
 If you really nead to now what all those classes do, feel free to ask me,
 otherwise just add another class, nobody cares hahahahahaha
 */

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap');

:root {
	--switch-color: #5F5F5F;
	--switch-bg-color: #f0f0f0;
	--disabled-color: #797979;
	--cellpadding: 15px;
}

body {
	font-family: "Kode Mono", monospace;
	font-size: 20px;
	margin: 0px;
	overflow-x: clip;
	background-color: #fff;
	color: #000;
}

.button {
	background-color: #000;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	font-size: 17px;

}

.tinybutton {
	background-color: #222222;
	padding: 15px;
	text-align: center;
	font-size: 17px;
	min-width: 190px;
	border-left: #2e2e2e 1px solid;
	float: inline-start;
	color: #fff;

}


.firstbutton {
	border-width: 0px!important;
}

.yellowbutton {
	background-color: #c9cb3b;
	color: #000;
}

.trip-warning-counter {
	height: 35px;
	width: fit-content;
	font-weight: bold;
	font-size: 30px;
	border-radius: 100px;
	background-color: #000;
	color: #c9cb3b;
	margin: auto;
	margin-bottom: 10px;
}

.tinybutton:hover {
	cursor: pointer;
}

.displayflex {
	display: flex;
	white-space: nowrap;
	overflow-x: scroll;
}

.slidericon {
	height: 30px;
	padding-bottom: 10px;
}

.sevbutton {
	background-color: #9b1b60;
	background-image: url('.././icons/sevlogo.svg');
	background-size: contain;
	background-repeat: no-repeat;

}

.weatherwarning {
	background-color: #f3f3f3;
	border: solid 1px #202020;
	padding: 10px;
	margin-top: 5px;
	color: #000;
	border-radius: 10px;
	box-shadow: inset 0px -20px 60px #ffe1e1;
	overflow-x: hidden;
}

hr {
	border-color: #fff;
	opacity: 0.2;
}

.notouch {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
}

span {
	text-align: left;
}

.disabled, .secondary {
	color: var(--disabled-color);
}

.hidden {
	display: none;
}

.connectionbadge {
	background-color: #262626;
	border: solid 1.5px #1e1e1e;
	color: #000;
	border-radius: 5px;
	padding: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 25px;
	max-width: 200px;
}

.IMPOSSIBLE {
	background-color: #e4bdbd;
	color: red;
	border-color: red;
}

.QUICK_TRANSFER {
	background-color: #faebc6;
	color: #1e1e1e;
	border-color: #e4a504;
}

.POSSIBLE {
	background-color: #ceffd6;
	color: #0ca724;
	border-color: #0ca724;
}

.transfericon {
	padding-left: 5px;
	padding-right: 5px;
	height: 17px;

}

.wrap {
	white-space: normal;
}

.additional {
	color: #6b6b6a;
	font-weight: normal;
	font-size: 0.8em;
}

.loadingspinner {
	height: 60px;
}

.stationimage {
	width: 100%;
	height: 250px;
	background-color: #000;
	background-size: cover;
	border-radius: 10px;
	vertical-align: bottom;
	position: relative;
	box-shadow: inset #000 0px -70px 60px;
	background-position: center;
	top: 5px;
	
}

.stationimagecontent {
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	bottom: 10px;
	color: #fff;
}

.stationname {
	font-size: 24px;
}

.serviceicon {
	height: 30px;
}

.topserviceicon {
	height: 50px;
}


.green {
	color: #00ff00;
}
.prefix {
	color: #6b6b6a;
	float: left;
	margin-top: 3px;
	font-weight: normal;
	font-size: 0.8em;
	padding-left: var(--cellpadding);
	padding-top: var(--cellpadding);
}

.big {
	font-weight: bold;
	font-size: 35px;
}

.map {
	height: 1000px;
	width: 1000px;
}

.weathericon {
	height: 130px;
}

span#clock {
	padding: 10px;
}

.departtime {
	font-size: 73px;
}

#navbar {
	background-color: #000;
	color: #fff;
	height: 16px;
	padding: 25px 16px 25px 16px;
	font-size: 16px;
	overflow-x: scroll;
}

.navsearch:before {
	background-image: url("../icons/search.svg");
	background-size: cover;
	content: "";
	display: inline-block;
	width: 20px;
	aspect-ratio: 1;
	margin-right: 10px;
	vertical-align: bottom;
}

.isle, .descriptionbox {
	position: fixed;
	right: 0px;
	background-color: rgba(38,38,38,0.8);
	backdrop-filter: blur(9px);
	color: #fff;
	font-size: 15px;
	border-radius: 3px;
	padding: 5px;
	margin: 10px;
	max-width: 250px;
}

.isle {
	bottom: 0px;
}

.descriptionbox {
	bottom: 40px;
}

.zerotable {
	padding: 0px;
	vertical-align: middle;
}

.aligner {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.tabs {
	float: left;
	display: inline-table;
}

.stationdetails {
	margin: 10px;
	margin-top: 20px;
	margin-bottom: 0px;
}

.iconbar {
	float: right;
}

a {
	color: #fff;
	text-decoration: none;
	white-space: nowrap;
}

.active {
	text-decoration: underline 3px;
	text-underline-offset: 23px;
	font-weight: bold;
}

.remark {
	display: block;
	font-size: 17px;
	margin: calc(0px - (var(--cellpadding) / 2)) var(--cellpadding) var(--cellpadding);
}

.home {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #000;
	text-align: center;
	color: #fff;
}

.searchcontainer {
	width: 85%;
	max-width: 700px;
	background-color: rgba(38,38,38,0.8);
	backdrop-filter: blur(9px);
	color: #fff;
	border-radius: 20px;
	overflow-y: hidden;
}

.nameholder {
	width: 85%;
	max-width: 700px;
	text-align: left;
	font-size: 25px;
	font-weight: bold;
	margin: 10px;
	text-shadow: 0px 0px 20px #000;
}

.logo {
	height: 30px;
	margin-right: 18px;
	border: solid 1px #fff;
	border-radius: 13px;
}



.tripcontainer, .blanktext {
	width: 80%;
	border-radius: 5px;
	overflow-y: hidden;
	text-align: left;
}

.searchbar {
	font-size: 20px;
	border: none;
	font-family: "Kode Mono", monospace;
	height: 40px;
	background-image: url('.././icons/search.svg');
	background-size: 25px;
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 40px;
	margin: 17px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0);
	color: #fff;
}

.searchbar:focus {
	outline: none;
}

.switch-container {
	display: flex;
	border-radius: 10px;
	margin: 17px;
}

input[type="radio"] {
	display: none;
}

.coacheswrapper {
	width: 100%;
	overflow-x: scroll;
	height: 250px;
	margin-top: 20px;
	padding-left: 10%;
}

::-webkit-scrollbar {
	display: none;
}

.coachescontent {
	display: flex;
	align-items: center;
	min-width: 200%;
	height: 110px;
	padding: 10px;
	padding-left: 20px;
	padding-top: 24px;
	position: relative;
	@media (prefers-reduced-motion: no-preference) {
		animation-name: drivein;
		animation-delay: 200ms;
		animation-duration: 3s;
		animation-timing-function: ease-out;
	}
}

.sector {
	top: -55px;
	position: absolute;
	width: 100%;
}


/* Germany ICE Costum Strip */
.fzg938058120578, .fzg938024128572, .fzg938024125578, .fzg938024127574, .fzg938048120571, .fzg938024123573, .fzg938024120579, .fzg938098120570, .fzg938064120570, .fzg938088120572, .fzg938014120571, .fzg938018120577, .fzg938008120579 {
	box-shadow: none !important;
	background-image: url(.././strips/germany.svg) !important;
	background-size: 12.5px !important;
	background-position: bottom !important;
	background-repeat: repeat-x !important;
}

/* Europe ICE Costum Strip */
.fzg938054065017, .fzg938054066015, .fzg938054067013, .fzg938054068011, .fzg938054063012, .fzg938054062014, .fzg938054061016, .fzg938054060018 {
	box-shadow: none !important;
	background-image: url(.././strips/europe.svg) !important;
	background-size: 12.5px !important;
	background-position: bottom !important;
	background-repeat: repeat-x !important;
}

/* Pride ICE Costum Strip */
.fzg938054035044, .fzg938054036042, .fzg938054037040, .fzg938054038048, .fzg938054033049, .fzg938054032041, .fzg938054031100, .fzg938054030268 {
	box-shadow: none !important;
	background-image: url(.././strips/pride.svg) !important;
	background-size: 12.5px !important;
	background-position: bottom !important;
	background-repeat: repeat-x !important;
}

/* @keyframes drivein {
	0% {
		margin-left: 100%;
	}

	40% {
		margin-left: 100%;
	}

	100% {
		margin-left: 0px;
	}
} */
@keyframes drivein {
	0% {
		left: 100%;
		opacity: 0;
	}
	100% {
		left: 0px;
		opacity: 1;
	}
}

.coach {
	border: solid #414141;
	border-width: 5px 3px 5px 3px;
	min-width: 140px;
	max-width: 140px;
	height: 55px;
	margin-left: -5px;
	padding-top: 7px;
	background-color: #fff;
	text-align: center;
	font-size: 35px;
	color: #414141;
	font-weight: bold;
	box-shadow: inset 0px -10px #cecece;
	position: relative;
}

.coach.steuerHead {
	border-radius: 80px 0px 0px 10px;
	border-width: 5px 3px 5px 5px;
	margin-left: 1px;
	background-image: url('.././icons/trainwindow.svg');
	background-size: 30px;
	background-position: left center;
	background-repeat: no-repeat;
}

.coach.head {
	border-radius: 10px 0px 0px 10px;
	border-width: 5px 3px 5px 5px;
	margin-left: 1px;
	background-size: 30px;
	background-position: left center;
	background-repeat: no-repeat;
}

.coach.single {
	border-radius: 80px 80px 10px 10px;
	border-width: 5px 3px 5px 3px;
	margin-left: 1px;
	background-image: url('.././icons/trainwindow.svg');
	background-size: 30px;
	background-position: left center;
	background-repeat: no-repeat;
}

.coach.lok {
	border-radius: 30px 30px 10px 10px;
	border-width: 5px 3px 5px 3px;
	margin-left: 1px;
	margin-right: 1px;
	background-image: url(.././icons/trainwindow.svg);
	background-size: 30px;
	background-position: left center;
	background-repeat: no-repeat;
}

.coach.back {
	border-radius: 0px 10px 10px 0px;
	border-width: 5px 5px 5px 3px;
	margin-right: 1px;
	background-size: 30px;
	background-position: left center;
	background-repeat: no-repeat;
}

.coach.steuerBack /*:not(.steuerHead)*/ {
	border-radius: 0px 80px 10px 0px;
	border-width: 5px 5px 5px 3px;
	margin-right: 1px;
	/*
	background-image: url('.././icons/trainwindow-mirror.svg');
	background-size: 30px;
	background-position: right center;
	background-repeat: no-repeat;*/
}

@keyframes blink {
	50% {
		opacity: 0.0;
	}
}


.blink {
	animation: blink 1s step-start 0s infinite;
}

.cancelled a {
	text-decoration: line-through;
}

label {
	width: 100%;
	padding: 10px;
	margin: 0;
	cursor: pointer;
	font-family: Arial;
	font-size: 17px;
}

.switchlabel {
	border: solid 1px #fff;
	color: #fff;
}

.leftalign {
	text-align: left;
}

input.checkbox {
	transform: scale(1.5);
	margin: 20px;
}

.left {
	border-radius: 10px 0px 0px 10px;
}

.right {
	border-radius: 0px 10px 10px 0px;
	overflow: hidden;
	max-width: 100%;
}

#departure:checked + label {
	background-color: #fff;
	color: #202020;
}

#arrival:checked + label {
	background-color: #fff;
	color: #202020;
}

#suburban:checked + label {
	background-color: #fff;
	color: #202020;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.left-div {
	flex: 1;
	min-width: 200px;
	margin-left: 20px;
}

.right-div {
	flex: 1;
	order: -1; /* Ändert die Reihenfolge, um nach oben zu gehen */
}

.lineview {
	max-width: 250px;
}

table {
	border: none;
	border-spacing: 0px;
	width: 100%;
}

tr {
	font-weight: bold;
}

th {
	font-weight: normal;
	padding: var(--cellpadding);
	text-align: left;
}

td {
	vertical-align: top;
	a {
		color: #000;
		display: block;
		margin: 0;
		padding: var(--cellpadding);
	}
}

.wide {
	width: 100%;
}

.header, tr:nth-child(even) {
	background-color: #D9D9D9;
}

.header {
	font-size: 15px;
}

.mini {
	height: 35px;
	padding-right: 15px;
}

.suggestion {
	display: flex;
	justify-content: space-between;
	padding: 17px; /* Optional padding for spacing */
	cursor: pointer;
	color: #fff;
}

.topline {
	vertical-align: middle;
	padding: 0px;
}

.clockbox {
	text-align: right;

}

.black {
	color: #000;
}

.red {
	color: #ec0016;
}

.green {
	color: #2f9d12;
}

.underlined {
	text-decoration: underline;
}

.suggestion:hover {
	background-color: rgba(255,255,255,0.1);
}

.bigicon {
	height: 30px;
	padding-left: 5px;
}

.inverted {
	filter: invert(1);
}

.megaicon {
	height: 60px;
	padding: 10px;
}

.mediumicon {
	height: 20px;
	margin-right: 5px;
}

.avatar {
	height: 25px;
	border-radius: 100px;
}

.linebadge {
	width: 150px;
	background-color: #041E42;
	color: #fff;
	text-align: center;
	font-weight: bold;
}

.linecolors {
	background-color: #041E42!important;
}

.whiteBadge {
	width: 150px;
	background-color: #fff;
	font-size: 30px;
	color: #000;
	text-align: center;
	font-weight: bold;
}



.biglinebadge {
	width: 200px;
	background-color: #041E42;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}

.smallonly {
	display: none;
}



@media (max-width: 700px) {
	:root {
		--cellpadding: 10px;
	}

	.stacktobottom {
		order: 1; /* Zurücksetzen der Reihenfolge auf den Standardwert */
	}

	.left-div, .right-div {
		min-width: 100%; /* Wenn der Platz nicht ausreicht, beide auf 100% setzen */
		margin-left: unset;
	}

	.searchbar {
		margin-top: 13px;
		width: -webkit-fill-available;
	}

	.navsearch {
		font-size: 0;
	}

	h2 {
		display: none;
	}

	th {
		/* padding: 10px;*/
	}

	td {
		font-size: 15px;
		a {
			/* padding: 10px;*/
		}
	}

	.mini {
		height: 25px;
	}

	.biglinebadge {
		width: 150px;
		font-size: 17px;
	}

	.linebadge {
		text-wrap: pretty;
		width: 90px;
	}

	.bigonly {
		display: none;
	}


	.smallonly {
		display: inline;
	}

	.mobilebreak {
		white-space: normal!important;
	}

	table tr td:nth-child(3) {
		overflow: hidden;
		max-width: 90px;
	}

	.megaicon {
		height: 50px;
	}

	.big {
		font-size: 27px;
	}

	.departtime {
		font-size: 54px;
	}

	.sectoricon {
		font-size: 20px;
	}
}

@media (max-width: 400px) {

	.linebadge {
		width: 80px!important;
		word-wrap: break-word;
	}

	.megaicon {
		height: 40px;
	}

	.big {
		font-size: 23px;
	}

	.departtime {
		font-size: 46px;
	}

	th,
	td a {
		padding: 10px 1px 25px 8px;
	}

	.prefix {
		margin-top: -1.5px;
	}

	.sectoricon {
		font-size: 20px;
	}
}

@media (min-width: 1300px) {
	:root {
		--cellpadding: 20px;
	}

	th {
		font-size: 1.2em;
		/* padding: 20px; */
	}

	td {
		font-size: 1.2em;
		a {
			/* padding: 20px; */
		}
	}

	.topline {
		padding: 15px;
	}

	.megaicon {
		height: 75px;
	}

	.big {
		font-size: 45px;
	}

	.departtime {
		font-size: 72px;
	}

	.lineview {
		max-width: 300px;
	}

	.mini {
		height: 45px;
	}
}

.tooltip {
	position: relative;
	display: inline-block;
	/*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 150px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	font-size: 18px;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -60px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.contributor {
	display: flex;
	gap: 0.5rem;
}


@media (min-width: 300px) {

	.prefix {
		margin-top: 3px;
	}

	
}

@media (min-width: 1200px) {
	.center {
		justify-content: center;
	}
}





/* Container für zentrierten Inhalt */
.trip-container-centered {
	margin: 0 auto;
	padding: 20px;
	max-width: 1200px;
}

/* Trip Header und Details */
.trip-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 5px;
	width: 100%;
}

.trip-logo {
	height: 18px;
	margin-left: 10px;
}

.trip-title {
	text-align: left;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.trip-title h1 {
	font-size: 2.5rem;
	font-weight: bold;
	color: #fff;
	margin: 0;
}

.trip-duration-info {
	text-align: right;
	flex: 0 1 200px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.trip-type {
	background-color: #222;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 0.9rem;
	color: #fff;
	margin-bottom: 5px;
}

.trip-date {
	background-color: #333;
	margin-top: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 0.9rem;
	color: #fff;
}

.trip-duration {
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 0.9rem;
	color: #fff;
}


.trip-card-icon {
	margin: -15px 35px 0 0;
	max-height: 45px;
	max-width: 45px;
	cursor: pointer;
}

.trip-status-container {
	text-align: center;
	margin: 10px 0;
}

.trip-status {
	font-size: 1rem;
	color: #bbb;
}

.popupPlaceholder {
	height: 300px;
}

/* Fortschrittsleiste */
.trip-progress-bar {
	flex: 1;
	position: relative;
	width: 100%;
}

.trip-progress-bar-container {
	height: 8px;
	background-color: rgba(255,255,255, 0.2);
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-right: 20px;
}

.trip-progress {
	height: 100%;
	background-color: #fff;
	position: absolute;
	left: 0;
}

.trip-station-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.trip-time-info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: relative;
	margin-top: 5px;
}

.trip-origin-info,
.trip-destination-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.trip-origin-time,
.trip-destination-time {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.trip-duration-div{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#originStation,
#destinationStation {
	font-size: 1.2rem;
	font-weight: bold;
	color: #fff;
}

#originTime,
#destinationTime {
	font-size: 1rem;
	color: #0f0;
	margin-top: 5px;
}

/* Stopover Liste */
.trip-stopovers {
	padding: 20px;
	position: relative;
	margin-bottom: 20px;
}

.marked-stopover {
	background-color: #c1d38c;
}

.coloredSpace {
	width: auto;
	background-color: #d9d9d9;
	color: #000;
	border-radius: 0px!important;
}



.darker {
	background-color: #00000092;
	padding: 10px;
}

.pinnedPopup {
	background-color: rgba(38, 38, 38, 0.8);
    backdrop-filter: blur(9px);
	color: #000;
	border-radius: 10px!important;
	position: fixed;
	bottom: 10px;
	left: 10px;
	right: 10px;
	z-index: 3;
	overflow: hidden; 
	max-width: 700px;
}


.blanktable {
	width: auto;
}

.gray {
	background-color: #d9d9d9;
}

.clear {
	background-color: none;
}

.trip-stopover {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #333;
	position: relative;
}

.trip-stopover:last-child {
	border-bottom: none;
}

.trip-stop-time {
	text-align: left;
	color: #000;
	position: relative;
	z-index: 1;
	width: 22%;
	font-size: 20px;
}

.trip-stop-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 75%;
}

.trip-stop-name {
	font-weight: bold;
	position: relative;
	z-index: 1;
	color: #000;
	margin-right: 10px;
}

.trip-platform {
	color: #646464;
	position: relative;
	z-index: 1;
	font-size: 20px;
}

.trip-stopover.trip-cancelled::before {
	background-color: red;
}

.trip-stopover.trip-delayed .trip-stop-time,
.trip-stopover.trip-delayed .trip-stop-name {
	color: red;
}

.trip-delay {
	color: red;
	font-weight: bold;
	margin-left: 5px;
}

/* Warnungen */
.trip-warnings {
	background-color: #d9d9d9;
	color: rgb(0, 0, 0);
	margin-bottom: 20px;
}

#warningsList {
	padding-left: 0px;
}

.trip-warning-item {
	padding: 10px;
	border-bottom: solid #c4c4c4 1px;
}

.trip-warning-header {
	padding: 10px;
	background-color: #c9cb3b;
	color: #000;
	border-bottom: solid #c4c4c4 1px;
}

.pill {
	background-color: #c9cb3b;
	color: #000;
	border-radius: 20px;
}

/* Anpassungen für mobile Geräte */
@media (max-width: 1024px) {
	.trip-title h1 {
		font-size: 2rem;
	}

	.trip-date {
		font-size: 0.8rem;
		margin-top: 5px;
	}

	.trip-duration-info {
		flex: 0 1 180px;
		font-size: 0.8rem;
	}

	.trip-stop-time {
		font-size: 0.9rem;
	}

	.trip-stop-name {
		font-size: 1rem;
	}

	.trip-platform {
		font-size: 0.9rem;
	}
}

@media (max-width: 768px) {

	.tripcontainer, .blanktext {
		width: 95%;
	}

	.trip-stopovers {
		width: auto;
		padding: 0px;
	}

	.trip-header {
		flex-direction: column;
		align-items: center;
		text-align: center;
		
	}

	.trip-title {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}

	.trip-title h1 {
		font-size: 1.8rem;
	}

	.trip-date {
		font-size: 0.8rem;
		margin-bottom: 10px;
	}

	.trip-duration-info {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 10px;
		align-items: center;
	}

	.trip-logo {
		max-width: 60px;
		height: auto;
		margin-bottom: 5px;
	}

	.trip-duration {
		font-size: 0.9rem;
	}

	

	.trip-card-icon {
		max-width: 25px;
		margin: -5px 10px 0 0;
	}


	#originStation,
	#destinationStation {
		font-size: 1rem;
	}

	#originTime,
	#destinationTime {
		font-size: 0.8rem;
	}
}

@media (max-width: 480px) {

	.trip-header {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.trip-title h1 {
		font-size: 1.5rem;
		margin-bottom: 5px;
	}

	.trip-date {
		font-size: 0.7rem;
		margin-bottom: 10px;
	}

	.trip-logo {
		max-width: 50px;
		height: auto;
		margin-bottom: 5px;
	}

	.trip-duration-info {
		width: 100%;
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.trip-duration {
		font-size: 0.8rem;
	}

	.trip-status {
		font-size: 0.8rem;
		margin-top: 10px;
	}



	.trip-progress-bar-container {
		height: 3px;
		margin-top: 0px;
	}
	

	.trip-progress {
		height: 3px;

	}
}




#mapModal {
	display: none; /* Modal standardmäßig verstecken */
	position: fixed; /* Modal über den anderen Inhalten positionieren */
	z-index: 1000; /* Modal über allem anderen anzeigen */
	left: 50%; /* Modal horizontal zentrieren */
	top: 50%; /* Modal vertikal zentrieren */
	transform: translate(-50%, -50%); /* Verschiebung um die Hälfte der Breite und Höhe */
	background-color: rgba(0, 0, 0, 0.8); /* Optional: Dunkler Hintergrund */
	width: 100%;
	height: 100%;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Optional: Schatteneffekt */
	
}

.modal-content {
	position: relative;
	width: 100%;
	height: 100%;
	max-height: 1000px; /* Maximale Höhe */
	background-color: #333; /* Hintergrundfarbe des Modalinhalts */
	padding: 0; /* Entfernt den Innenabstand */
	overflow: hidden; /* Verhindert das Überlaufen des Inhalts */
	background-image: url('../whiteSpinner.svg');
	background-size: 60px;
	background-position: center;
	background-repeat: no-repeat;
}

#map {
	width: 100%; /* Volle Breite nutzen */
	height: 100%; /* Volle Höhe nutzen */
}

.close:hover {
	cursor: pointer;
}