.wagonordertable {
    width: 100% !important;
    border-collapse: collapse !important;
    margin-top: 20px !important;
}
.wagonordertd {
    vertical-align: top;
    padding: 10px;
}
.cubesector, .vehicle {
    margin-bottom: 5px;
    text-align: center;
    align-items: center;

}

.vehicledescription {
    text-align: left;
    margin-top: 5px;
}

.cubesector, .vehicle {
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
}

.cubesector {
    background-color: #d9d9d9;
}
.vehicle {
    background-color: #222222;
    width: 70px;
    justify-content: center;
}


.LOCOMOTIVE, .POWERCAR {
    color: #fff;
}

.LOCOMOTIVE::before {
    content: "LOK";
}

.POWERCAR::before {
    content: "TK";
}

.classestruefalse {
    background-color: green;
}

.classesfalsetrue {
    background-color: #ceb214;
}

.HALFDININGCAR_FIRST_CLASS {
    background-image: linear-gradient(yellow, red);
}

.HALFDININGCAR_ECONOMY {
    background-image: linear-gradient(green, red);
}

.classestruetrue {
    background-image: linear-gradient(green, #ceb214);
}

.DININGCAR {
    background-color: red;
}

.diningcarBadge {
    background-color: red;
    border: solid 1.5px #fff;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
    line-height: 40px;
}

.economyBadge {
    background-color: green;
    color: #fff;
    border-radius: 5px;
    padding: 3px;
    line-height: 40px;
}

.firstclassBadge {
    background-color: #ceb214;
    color: #262626;
    border-radius: 5px;
    padding: 3px;
    line-height: 40px;
}

.badgeicon {
    height: 15px;
    padding-left: 8px;
}

.sectoricon {
    background-color: rgb(47, 47, 138);
    width: 30px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
}



#vehiclesColumn div:nth-child(2) {
    border-top-right-radius: 200%;
    border-top-left-radius: 200%;
}

#vehiclesColumn div:last-child {
    border-bottom-right-radius: 200%;
    border-bottom-left-radius: 200%;
}


#vehiclesColumn div:nth-child(2).LOCOMOTIVE {
    border-radius: 10px 10px 0px 0px !important;
}


#vehiclesColumn div:last-child.LOCOMOTIVE {
    border-radius: 0px 0px 10px 10px !important;
}

.fixednavbar {
    top: 0px;
    position: fixed;
    z-index: 20;background-color: #000;
    width: -webkit-fill-available;
}

/* Neue CSS-Stile für die Tooltips */
.serviceicon {
    cursor: pointer;
}